<div class="m-5">
    <h1>Formulario</h1>

    <form method="get" action="pages/create">
        <input name="email">
        <input name="age" type="number">
        <input name="comment" type="text">
        <input type="submit" value="Enviar">
    </form>

</div>

